# coding: utf-8

# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Put comments in separate lines!
#
# #####


# Attention:
#    LEAVE RIGHT SIDE EMPTY for a 'false' value like:
#       example_of_false_value =


[general]

; endless list of all of the general simple settings
; you can use in 'conf.py'

project     = TYPO3 Querybuilder Extension
version     = 10.0.x-dev
release     = 10.0.x-dev
t3author    = TYPO3 GmbH
copyright   = since 2017 by TYPO3 GmbH

description = The querybuilder extension for TYPO3 provides a filter function based on TYPO3s core list module and features.
              Use multiple given operators to filter your data and save queries for numerous usages on different pages.


# For a reference about this file see:
# https://github.com/marble/typo3-docs-typo3-org-resources/blob/master/userroot/scripts/bin/conf-2015-10.Reference.Settings.cfg
